:root {
  --blue400: hsl(180, 66%, 49%);
  --blue400-50: hsla(180, 66%, 49%, 0.5);
  --blue600: hsl(180, 67%, 24%);
  --purple950: hsl(257, 27%, 26%);
  --red400: hsl(0, 87%, 67%);
  --gray0: hsl(0, 0%, 100%);
  --gray200: hsl(220, 23%, 95%);
  --gray400: hsl(0, 0%, 75%);
  --gray500: hsl(258, 7%, 63%);
  --gray900: hsl(255, 11%, 22%);
  --gray950: hsl(260, 8%, 14%);

  --bold: 700;
  --medium: 500;

  --mobile: 375px;
  --desktop: 1440px;
}
